 <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">Rails for Startups</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="about">About Us</a></li>
              <li><a href="contactus">Contact Us</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                      Services
                      <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="Appdev">Application Development</a></li>
                  <li><a href="uxandui">UX and UI</a></li>
                  <li><a href="digitaldesign">Digital Design</a></li>
                </ul>
              </li><!-- dropdown -->
            </ul><!-- /.nav -->
          </div><!--/.nav-collapse -->
        </div><!-- /.container -->
      </div><!-- /.navbar-inner -->
    </div><!-- /.navbar -->